* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 

.container {
  position: relative;
  background: #fff;
  max-width: 500px;
  margin: auto;
  margin-top: 10px; 
  padding: 1em 1em 2em;
box-shadow: 0 0 1em #222;
border-radius: 5px;
}

.container h1 {
  text-align: center;
}


.input-box input {
 /* position: relative; */
 background-color: #fff;
 height: 35px;
 width: 50%;
 font-size: 1rem;
 margin-top: 10px;
 border-radius: 5px;
 outline: none;
  border: 2px solid black;
  padding-left: 5px;


}


span{
color: rgb(223, 19, 19);
font-size: 1rem;
margin-left: 1.5rem;
}

.form .gender-box{
margin-top: 10px;
}

.gender-box label{
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin-left: 1rem;
  

}
.form .gender-option, .gender{
  display: flex;
  align-items: center;
  column-gap: 50px;
  /* flex-wrap: wrap; */
}
 
.gender{
  column-gap: 5px;
  margin-top: 0.4rem;
}

.gender label{
  color: #000;
  font-weight: 200;


}


.checked p{
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 1rem;
}

.checked .gurop{
  display: flex;
  align-items: center;
  column-gap: 50px; 
  margin-left: 0.8rem;
  margin-top: 6px; 
}

.gurop{
  column-gap: 5px;
  
}

.gurop label{
  color: #000;
  /* margin-bottom: 1rem; */
  font-size: 1.2rem;
}
.gurop-1 input{
  /* display: flex; */
  width: 20px;
  height: 1rem;
}


.selecting{
  display: grid;
}

.selecting select{
  /* width: 30%; */
  border: 1px solid #000;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.3rem;
  /* background: transparent; */
  /* border-bottom: 1px solid black; */
}

.btn-submit{
 display: block;
 margin: auto;
 background-color: #ece6e6e4;
  padding: 6px 0px;
  width: 100px;
  margin-top: 1rem;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px dotted black;
  border-radius: 5px;

  
}
